<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">

    <script type="text/x-template" id="my-component">
        <div class="component">A custom component of Vue!</div>
    </script>

    <th:block th:fragment="header">
        <!--Home page 之後的page暫時先不實現i18n-->
        <div sec:authorize="!isAuthenticated()" style="display: inline;">
            <vue-change-language></vue-change-language>
        </div>

        <div sec:authorize="isAuthenticated()" style="display: inline;">
            <vue-logout-button></vue-logout-button>
        </div>
    </th:block>

    <th:block th:fragment="changeLanguage">
        <script id="vue-change-language-template" th:inline="javascript" type="text/x-template">
            <div>
                <span th:text="#{message.change}"></span>:
                <select id="locales" v-model="locale">
                    <option value=""      th:text="#{message.please.choose}"></option>
                    <option value="en_US" th:text="#{message.eng}"></option>
                    <option value="zh_TW" th:text="#{message.ch}"></option>
                </select>
            </div>
        </script>
        <script th:src="@{/model/locale/changeLanguage.js}"></script>
    </th:block>

    <th:block th:fragment="textArea">
        <script id="vue-text-area-template" th:inline="javascript" type="text/x-template">
            <textarea class='autoExpand text-area' rows='3' data-min-rows='3' th:placeholder='#{message.write.sth}' autofocus></textarea>
        </script>
        <script th:src="@{/model/component/textArea.js}"></script>
    </th:block>

    <!-- Message card include comment card , cause we must always need comment card in message card -->
    <th:block th:fragment="vue-message-card-and-comment-card">
        <th:block th:insert=":: vue-comment-card"></th:block>
        <script id="vue-message-card-template" th:inline="javascript" type="text/x-template">
            <div class="contact-area">
                <div class="contact card">
                    <main class="card-header" :id="headingId">
                        <section>
                            <div class="post shadow">
                                <div class="post-left">
                                    <!--發言人的名字-->
                                    <div class="post-left_title">{{messageName}}</div>
                                    <!--NickName-->
                                    <div class="post-left_title_sub">{{nickName}}</div>
                                    <!--        <div class="post-left_border"></div>-->
                                    <div class="post-left_author">
                                        <!--發言人的圖片-->
                                        <img src="https://image.shutterstock.com/image-photo/bright-spring-view-cameo-island-260nw-1048185397.jpg">
                                        <!--發言人的地區-->
                                        <p>{{location}}</p>
                                    </div>
                                </div>
                                <div class="post-right">
                                    <div class="post-right_body">
                                        <!--發言標題-->
                                        <!--            <p><span>T</span>itle</p>-->
                                        <!--發言內容-->
                                        <p>{{content}}</p>
                                    </div>
                                    <div class="post-right_footer">
                                        <div class="post-right_footer_date">
                                            <!--發言時間-->
                                            <p>{{date}} - <span>{{time}}</span></p>
                                        </div>
                                        <div class="post-right_footer_pictos">
                                            <button type="button" class="leave-message-button" :id="buttonId"
                                                    data-toggle="collapse" :data-target="'#' + collapseId" :aria-controls="collapseId">
                                                <span>Comments({{commentCount}})</span>
                                                <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 48 48"> <g class="nc-icon-wrapper" fill="#444444"> <path d="M14.83 30.83L24 21.66l9.17 9.17L36 28 24 16 12 28z"></path> </g> </svg>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </main>
                    <nav :id="collapseId" class="collapse" :aria-labelledby="headingId" >
                        <vue-comment-card v-for="(item, index) in commentObj" :key="item.commentId"
                                          :content="item.content"
                                          :time="item.time"
                                          :commentId="item.commentId"
                                          :commentName="item.commentName"
                                          :colorNumber="item.colorNumber"
                                          :lastElement="false">
                        </vue-comment-card>
                        <vue-comment-card :lastElement="true"></vue-comment-card>
                    </nav>
                </div>
                <br><br>
            </div>
        </script>
        <script th:src="@{/model/component/messageCard.js}"></script>
    </th:block>

    <!-- Comment card    -->
    <th:block th:fragment="vue-comment-card">
        <script id="vue-comment-card-template" th:inline="javascript" type="text/x-template">
            <a href="#" class="card-body" :class="lastElement ? 'last-comment':''" @click.prevent="">
                <template v-if="!lastElement">
                    <div class="icon" :class="getColorIndex">
                        <div v-html="getSVGByCase('view-comment')"></div>
                    </div>

                    <div class="content">
                        <h1 :class="getColorIndex">{{commentName}}</h1>
                        <span>{{content}}</span>
                    </div>

                    <span class="time" :class="getColorIndex">
                        {{time}}
                    </span>
                </template>
                <template v-else>
                    <!--最後一個 留言用-->
                    <div class="icon color-for-leave-comment" >
                        <div v-html="getSVGByCase('leave-comment')"></div>
                    </div>

                    <div class="content">
                        <h1 class="color-for-leave-comment">{{loginUserName}}</h1>
                        <vue-text-area :usedWithScrollBarOnY="true"></vue-text-area>
                    </div>

                    <div>
                        <button type="button" @click="leaveComment" class="btn btn-secondary btn-lg">
                            <span>Leave comment</span>
                        </button>
                    </div>
                </template>
            </a>
        </script>
        <script th:src="@{/model/component/commentCard.js}"></script>
    </th:block>

</html>
