<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">

    <script type="text/x-template" id="my-component">
        <div class="component">A custom component of Vue!</div>
    </script>

    <th:block th:fragment="header">

        <vue-header ref="header" inline-template>
            <header style="display: inline;">
                <span th:text="#{message.change}"></span>:
                <select id="locales" v-model="locale">
                    <option value=""      th:text="#{message.please.choose}"></option>
                    <option value="en_US" th:text="#{message.eng}"></option>
                    <option value="zh_TW" th:text="#{message.ch}"></option>
                </select>
            </header>
        </vue-header>
        <div sec:authorize="isAuthenticated()" style="display: inline;">
            <vue-logout-button ></vue-logout-button>
        </div>
    </th:block>

    <th:block th:fragment="textArea">
        <script id="vue-text-area-template" th:inline="javascript" type="text/x-template">
            <textarea class='autoExpand text-area' rows='3' data-min-rows='3' th:placeholder='#{message.write.sth}' autofocus></textarea>
        </script>
        <script th:src="@{/model/component/textArea.js}"></script>
    </th:block>

</html>
