<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="css">

</th:block>

<th:block th:fragment="js">

    <script type="text/javascript"
    th:src="@{/model/validation/userInfoValidate.js}"></script>

    <script th:src="@{/webjars/jquery/jquery.js}"></script>

    <script th:src="@{/webjars/bootstrap/js/bootstrap.js}"></script>

    <script th:src="@{/webjars/vue/vue.js}"></script>

</th:block>

<th:block th:fragment="config">

    <script th:src="@{/model/config.js}"></script>

    <script th:inline="javascript">
        var baseVue = Config.init({
            apiBaseUrl: [[${@environment.getProperty("api.url")}]]
        });
    </script>
</th:block>
</html>
