<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<th:block th:fragment="css">

</th:block>

<th:block th:fragment="js">

    <script type="text/javascript"
    th:src="@{/model/validation/userInfoValidate.js}"></script>

    <script th:src="@{/webjars/jquery/jquery.js}"></script>

    <script th:src="@{/webjars/bootstrap/js/bootstrap.js}"></script>

    <script th:src="@{/webjars/vue/vue.js}"></script>

</th:block>

<th:block th:fragment="config">
    <script th:src="@{/model/config.js}"></script>

    <script th:inline="javascript">
        var baseVue = Config.init({
            apiBaseUrl: [[${@environment.getProperty("api.url")}]]
        });
    </script>
</th:block>

<!-- baseView載入之後, 因此如果一些東西需要用到baseView需要放在這引入 不然會報錯-->
<th:block th:fragment="afterConfig">
    <script th:src="@{/model/home/logoutButton.js}"></script>
</th:block>

</html>
