.div-as-form-login {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
}

.div-as-form-login-without-width {
    width: 100%;
    padding: 15px;
    margin: auto;
}

.horizontal-center-width-330 {
    max-width: 330px;
    margin: auto;
}

/* comment-card裡面的textArea垂直部分超過要用scroll而非自動擴增*/
.contact nav a.last-comment textarea {
    overflow-y:scroll
}