<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout/default">

<head>
    <meta charset="UTF-8">
    <title th:text="#{message.forgotPassword.title}">Forget Password</title>
</head>

<th:block layout:fragment="body">
    <body class="text-center" style="display: block">
        <div class="div-as-form-login-without-width">
            <h1 class="h3 mb-3 font-weight-normal" th:text="#{message.forgetPassword.text}">Please Enter your registration email.</h1>

            <div class="horizontal-center-width-330">
                <input type="text" name="email" v-model="emailText" class="form-control" th:placeholder="#{message.email}">
                <label v-if="emailError !== ''">{{emailError}}</label>
                <br>

                <button @click="sendResetMail()" class="btn btn-lg btn-primary btn-block">
                    <span th:text="#{message.send}">Send</span>
                </button>
            </div>
        </div>
    </body>
</th:block>


<th:block layout:fragment="js">
    <script
            th:src="@{/model/login/forgotPassword.js}"></script>
    <script
            th:inline="javascript">
        let app = new App();
    </script>
</th:block>

<th:block layout:fragment="css">
    <link rel="stylesheet" href="https://getbootstrap.com/docs/4.4/examples/sign-in/signin.css">
</th:block>
</html>

