<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout/default">

<head>
    <meta charset="UTF-8">
    <title th:text="#{message.forgotPassword.title}">Forget Password</title>
</head>

<th:block layout:fragment="body">

    <h1 th:text="#{message.forgetPassword.text}">Please Enter your registration email.</h1>

    <div>
        <label th:text="#{message.email}">Email</label>
        <input type="text" name="email" v-model="emailText" class="form-control">
        <label v-if="emailError !== ''">{{emailError}}</label>
    </div>

    <button @click="sendResetMail()" class="btn btn-primary">
        <span th:text="#{message.send}">Send</span>
    </button>

</th:block>


<th:block layout:fragment="js">
    <script
            th:src="@{/model/login/forgotPassword.js}"></script>
    <script
            th:inline="javascript">
        let app = new App();
    </script>
</th:block>
</html>

