<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout/default">

    <head>
        <meta charset="UTF-8">
        <title>Login Page</title>
    </head>

    <th:block layout:fragment="body">
        <div>
            <label id="alertLabel"></label>

            <div>
                <label id="accountLabel"></label>
                <br>
                <input type="text" name="account" placeholder="Account" v-model="accountText"
                       maxlength="10" onkeyup="value=value.replace(/[^\w]/ig,'')" class="form-control">
            </div>
            <div>
                <label id="passwordLabel"></label>
                <br>
                <input type="password" name="password" placeholder="Password" v-model="passwordText"
                       maxlength="10" onkeyup="value=value.replace(/[^\w]/ig,'')" class="form-control" >
            </div>

            <br>
            <button @click="login()" style="width: 150px; margin: 5px; font-size : 16px;">登入</button>
            <button @click="register()" style="width: 150px; margin: 5px; font-size : 16px;">我要註冊</button>
        </div>
    </th:block>


    <th:block layout:fragment="js">
        <script
                th:src="@{/model/login/login.js}"></script>
        <script
                th:inline="javascript">
            var app = new App();
        </script>
    </th:block>
</html>

