<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout/default">

    <head>
        <meta charset="UTF-8">
        <title th:text="#{message.login.title}"></title>
    </head>

    <th:block layout:fragment="body">

        <h1 th:text="#{message.welcome.hello}"></h1>

        <!--Show Login Error Message from server-->
        <div th:if="${param.error != null}"
             th:text="${session[SPRING_SECURITY_LAST_EXCEPTION]}">error</div>

        <!--Login Form-->
        <!--  th:action="/transfer" , by using this,  thymeleaf will handle csrf token for us automatically -->
        <form name='f' action="login" method='POST' @submit="checkForm">

            <div>
                <label th:text="#{message.username}">UserName</label>
                <input type="text" name="username" placeholder="UserName" v-model="usernameText"
                       maxlength="10" onkeyup="value=value.replace(/[^\w]/ig,'')" class="form-control">
                <label v-if="usernameAlert !== ''">{{usernameAlert}}</label>
            </div>
            <div>
                <label th:text="#{message.password}">Password</label>
                <input type="password" name="password" placeholder="Password" v-model="passwordText"
                       maxlength="10" onkeyup="value=value.replace(/[^\w]/ig,'')" class="form-control" >
                <label v-if="passwordAlert !== ''">{{passwordAlert}}</label>
            </div>

            <input class="btn btn-primary" name="submit" type="submit" th:value="#{message.login}" />
        </form>

        <button @click="register()" class="btn btn-primary">
            <span th:text="#{message.want.regist}" />
        </button>

    </th:block>


    <th:block layout:fragment="js">
        <script
                th:src="@{/model/login/login.js}"></script>
        <script
                th:inline="javascript">
            let app = new App();
        </script>
    </th:block>
</html>

