<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout/default">

    <head>
        <meta charset="UTF-8">
        <title th:text="#{message.login.title}"></title>
    </head>

    <th:block layout:fragment="body">

        <!--Show Login Error from server-->
        <div th:if="${param.error != null}"
             th:text="${session[SPRING_SECURITY_LAST_EXCEPTION]}">error</div>

        <!--Show Message from server-->
        <div th:if="${message != null}" class="alert alert-info" th:utext="${message}">Message</div>

        <body class="text-center" style="display: block">
            <!--Login Form-->
            <!--  th:action="/transfer" , by using this,  thymeleaf will handle csrf token for us automatically -->
            <form name='f' action="login" method='POST' @submit="checkForm" class="form-signin">
                <h1 class="h3 mb-3 font-weight-normal" th:text="#{message.signIn.message}">Gary Bulletin</h1>

                <!-- UserName -->
                <input type="text" name="username" th:placeholder="#{message.username}" v-model="usernameText"
                       maxlength="10" onkeyup="value=value.replace(/[^\w]/ig,'')" class="form-control">
                <label v-if="usernameAlert !== ''">{{usernameAlert}}</label>

                <!-- Password -->
                <input type="password" name="password" th:placeholder="#{message.password}" v-model="passwordText"
                       maxlength="10" onkeyup="value=value.replace(/[^\w]/ig,'')" class="form-control" >
                <label v-if="passwordAlert !== ''">{{passwordAlert}}</label>

                <br>
                <a href="/forgetPassword">
                    <span th:text="#{message.forgotPassword.title}">forgot password</span>
                </a><br><br>

                <button type="submit" class="btn btn-lg btn-primary btn-block">
                    <span th:text="#{message.login}">Login</span>
                </button>

                <button @click="register()" type="button" class="btn btn-lg btn-primary btn-block">
                    <span th:text="#{message.want.regist}">Create Account!</span>
                </button>
            </form>

        </body>

    </th:block>


    <th:block layout:fragment="js">
        <script
                th:src="@{/model/login/login.js}"></script>
        <script
                th:inline="javascript">
            let app = new App();
        </script>
    </th:block>
</html>

