<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout/default">

<head>
    <meta charset="UTF-8">
    <title th:text="#{message.resetPassword.title}">Reset Password</title>
</head>

<th:block layout:fragment="body">

    <h1 th:text="#{message.resetPassword.text}">Please Enter your new password.</h1>

    <div>
        <label th:text="#{message.password}">Password</label>
        <input type="password" name="password" v-model="passwordText"
               maxlength="10" onkeyup="value=value.replace(/[^\w]/ig,'')" class="form-control">
        <label v-if="passwordAlert !== ''">{{passwordAlert}}</label>
    </div>
    <div>
        <label th:text="#{message.matchingPassword}">Matching Password</label>
        <input type="password" name="matchingPassword" v-model="matchingPasswordText"
               maxlength="10" onkeyup="value=value.replace(/[^\w]/ig,'')" class="form-control">
        <label v-if="matchingPasswordAlert !== ''">{{matchingPasswordAlert}}</label>
    </div>

    <button @click="resetPassword()" class="btn btn-primary">
        <span th:text="#{message.reset}">Reset</span>
    </button>

</th:block>


<th:block layout:fragment="js">
    <!-- For getting token from model in Spring -->
    <script th:inline="javascript">
        let token = [[${token}]];
    </script>
    <script
            th:src="@{/model/login/resetPassword.js}"></script>
    <script
            th:inline="javascript">
        let app = new App();
    </script>
</th:block>
</html>

