<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout/default">

    <head>
        <meta charset="UTF-8">
        <title th:text="#{message.register.title}">Register Page</title>
    </head>

    <th:block layout:fragment="body">

        <div>
            <label id="alertLabel"></label>

            <div>
                <label th:text="#{message.email}">Email</label>
                <input type="text" name="email" v-model="registerInfo.emailText" class="form-control">
                <span id="emailError" class="alert" style="display:none"></span>
            </div>
            <div>
                <label th:text="#{message.account}">Account</label>
                <input type="text" name="account" v-model="registerInfo.accountText"
                       maxlength="10" onkeyup="value=value.replace(/[^\w]/ig,'')" class="form-control">
                <span id="accountError" class="alert" style="display:none"></span>
            </div>
            <div>
                <label th:text="#{message.password}">Password</label>
                <input type="password" name="password" v-model="registerInfo.passwordText"
                       maxlength="10" onkeyup="value=value.replace(/[^\w]/ig,'')" class="form-control">
                <span id="passwordError" class="alert" style="display:none"></span>
            </div>
            <div>
                <label th:text="#{message.matchingPassword}">Matching Password</label>
                <input type="password" name="matchingPassword" v-model="registerInfo.matchingPasswordText"
                       maxlength="10" onkeyup="value=value.replace(/[^\w]/ig,'')" class="form-control">
                <span id="globalError" class="alert" style="display:none"></span>
            </div>

            <br>
            <button @click="register()" style="width: 150px; margin: 5px; font-size : 16px;">
                <span th:text="#{message.regist}" />
            </button>
        </div>
    </th:block>


    <th:block layout:fragment="js">
        <script
                th:src="@{/model/regist/regist.js}"></script>
        <script
                th:inline="javascript">
            var app = new App();
        </script>
    </th:block>
</html>

