<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout/default">

    <head>
        <meta charset="UTF-8">
        <title th:text="#{message.register.title}">Register Page</title>
    </head>

    <th:block layout:fragment="body">

        <body class="text-center" style="display: block">
            <div class="div-as-form-login">

                <h1 class="h3 mb-3 font-weight-normal" th:text="#{message.account.register}">Account Register</h1>

                <label id="alertLabel"></label>

                <div>
                    <input type="text" name="email" v-model="registerInfo.emailText" class="form-control" th:placeholder="#{message.email}">
                    <span id="emailError" class="alert" style="display:none"></span>
                </div>
                <div>
                    <input type="text" name="username" v-model="registerInfo.userNameText"
                           maxlength="10" onkeyup="value=value.replace(/[^\w]/ig,'')" class="form-control" th:placeholder="#{message.username}">
                    <span id="userNameError" class="alert" style="display:none"></span>
                </div>
                <div>
                    <input type="password" name="password" v-model="registerInfo.passwordText"
                           maxlength="10" onkeyup="value=value.replace(/[^\w]/ig,'')" class="form-control" th:placeholder="#{message.password}">
                    <span id="passwordError" class="alert" style="display:none"></span>
                </div>
                <div>
                    <input type="password" name="matchingPassword" v-model="registerInfo.matchingPasswordText"
                           maxlength="10" onkeyup="value=value.replace(/[^\w]/ig,'')" class="form-control" th:placeholder="#{message.matchingPassword}">
                    <span id="globalError" class="alert" style="display:none"></span>
                </div>

                <br>
                <button @click="register()" class="btn btn-lg btn-primary btn-block">
                    <span th:text="#{message.regist}" />
                </button>
            </div>
        </body>
    </th:block>


    <th:block layout:fragment="js">
        <script
                th:src="@{/model/regist/regist.js}"></script>
        <script
                th:inline="javascript">
            let app = new App();
        </script>
    </th:block>
</html>

